/* .profile-card-container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: url('../assets/img/home-background2.png') center/cover no-repeat;
    filter: url('#blur-filter');
    position: relative;
}

.profile-card-container * {
    position: relative;
} */