.body {
    /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
    /* background-image: url("../assets/img/main.jpg");
    background-repeat: no-repeat; */
    background: url('../assets/img/main.jpg') center/cover no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.jumbotron {
    position: absolute;
    right: 8%;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-group label {
    display: block;
    font-weight: lighter;
    margin-bottom: 5px;
    color: #000000;
}

.row {
    justify-content: center;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    margin-top: 5px;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #ffe100;
}

.btn-warning {
    background-color: #ffe100;
    color: white;
    border: none;
}

.gender {
    margin-top: 19px;
    display: flex;
    align-items: center;
}

.gender input[type="radio"] {
    margin-top: -3px;
    margin-right: 5px;
}

.form-group-btn {
    margin-top: 10px;
}

label {
    display: block !important;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}

.checkbox-menu li input {
    margin-right: -50px;
    margin-left: -45px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: white;
    font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: white;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: white;
}

.dropdown-btn-wrapper {
    text-align: center;
    margin-top: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 60%;
    max-width: 400px;
    text-align: center;
    /* position: absolute; */
    /* top: 30%;
    left: 40%; */
    align-items: center;
}

.blur-background {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

#verify {
    margin-top: 0%;
    margin-left: -3%;
}

.button-container {
    flex-direction: row;
    width: 100%;
}

.otp-input {
    width: 40px !important;
    margin-right: 15px;
    text-align: center;
}

.resend-link {
    margin-top: 2%;
    margin-left: 45%;
}